body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
ul{
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li{
  display: inline;
  list-style: none none;
  font-size: 20px;
}
a{
  color: black;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
p{
  display: block;
  text-align: justify;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 18px;
}
h1{
  text-align: center;
}
h2{
  margin:0;
  text-align: center;
}
h4{
  text-align: center;
}
.button{
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: rgba(51, 0, 99, 0.5);
  color: white;
  padding: 3px 1px;
  text-decoration: none;
  font-size: 12px;
}
.button:hover{
  cursor: pointer;
  background-color: rgba(51, 0, 99, 1);
}
.nav-link{
  margin: 1vh;
}
.container{
  margin: 1vh 1vw 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paragraph_container{
  margin: 1vh 1vw 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_cont{
  color: white;
  width: 30%;
  min-width: 185px;
  margin: 1vh 1vw 1vh 1vw;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.30);
  box-shadow: 5px 5px 15px 5px #000000;;
  display: flex;
  flex-direction: column;
  align-items:center;
  border: #333399 solid;
  border-radius: 10px;  
}
#header{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #f3f3f3;
  color: black;
}
#header-img{
  max-height: 100%;
  width: auto;
}
#nav-bar{
  display: flex;
  align-items: center;
  margin-right: 1vw;
  width: 50%;
 }
 #page_body{
  width: 90%;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
 #form{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  margin-bottom: 1vh;
}
#submit{
  margin-bottom: 1vh;
}
#video{
  margin: auto;
}
#values{
  margin: auto;
}
#products{
  margin: 1vh 1vw 1vh 1vw;
}
#residential{
  background-image: url("/back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#commercial{
  background-image: url("/back2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
#supplies{
  background-image: url("/back3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#footer{
  text-align: center;
}
@media (max-width:600px){
  bod
  a{
    font-size: 2em;
  }
  p{
    font-size: 14px;
  }
  li{
    font-size: 14px;
  }
  #header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-img{
    width: 250px;
  }
  #header{
    height: auto;
  }
  #nav-bar{
    display: flex;
    align-items: center;
    margin: 0;
   }
   h1{
     font-size: 2.5em;
   }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .product_cont{
    width: 90%;}
}