* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bgShadow {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#header {
  background-color: rgb(235, 4, 4);
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 2;
}
#header-img {
  margin: 0;
  padding: 0;
  height: 100px;
  display: inline-block;
}
#nav-bar {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
#myForm {
  margin: auto;
  display: flex;
  background-color: rgba(255, 0, 0, 0.952);
  padding: 15px;
  border: 3px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#features {
  width: 95vw;
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/marcapersonal-33db5.appspot.com/o/laboratorybg-min.jpg?alt=media&token=8d82166d-d074-4a48-9ef8-86e3db044dd8");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#features-left {
  align-self: flex-start;
}
#features-middle {
  align-self: center;
}
#features-right {
  align-self: flex-end;
}
#values {
  height: 80vh;
  width: 100%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#video {
  height: 60vh;
  width: 70vw;
}
#videoHeader {
  color: white;
  margin: 35px 0;
}
#products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70vh;
  padding-bottom: 50px;
}
#residential {
  height: 100%;
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
}
#commercial {
  height: 100%;
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
}
#supplies {
  height: 100%;
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
}
#bg1 {
  background: url("https://firebasestorage.googleapis.com/v0/b/marcapersonal-33db5.appspot.com/o/CL.jpeg?alt=media&token=86530bac-df4c-4286-9c1f-31aaa67c12ed");
}
#bg2 {
  background: url("https://firebasestorage.googleapis.com/v0/b/marcapersonal-33db5.appspot.com/o/ELEMENTALBG2.jpg?alt=media&token=76e2968e-8100-4eca-bbad-300036ae56ec");
}
#bg3 {
  background: url("https://firebasestorage.googleapis.com/v0/b/marcapersonal-33db5.appspot.com/o/marss6.jpg?alt=media&token=346a56d9-b9bc-422b-930d-4705fb5c0ca1");
}
#bg1,
#bg2,
#bg3 {
  height: 100%;
  width: 30%;
  margin: auto 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #141414;
  font-size: 1.5em;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
#contact h2 {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
}
.hide {
  display: none;
}
.icon-title {
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
}
.button {
  background-color: red;
  margin: 15px 0;
  color: white;
  width: 150px;
  font-weight: 900;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid;
}
.button:hover {
  border: 1px solid black;
}
.product-cont {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: rgb(235, 4, 4) 5px solid;
  text-align: center;
}
.display-3 {
  margin-top: 10px;
  padding: 10px 0;
}
.container-text {
  text-align: left;
  font-size: 1em;
  padding-top: 10px;
}
.features-text {
  text-align: end;
  width: 60%;
  height: 25%;
  font-size: 1.2rem;
  margin: 5vh 0;
  border-bottom: solid 2px rgb(235, 4, 4);
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
.catalogo {
  background-color: red;
  font-size: 1.5em;
}
.formDiv {
  color: white;
  padding: 15px;
}
.formDiv > p {
  font-weight: 900;
  font-size: 1.2em;
}
h3 {
  text-align: left;
}
h1 {
  text-align: center;
  margin: 0 25px;
  font-size: 2em;
  padding: 15px;
}
i {
  padding: 15px;
  margin: 5px;
  transform: scale(2);
}
input {
  width: 100%;
  margin: 10px 0;
}
select {
  width: 100%;
}
li {
  display: inline;
  margin: 0;
  padding: 0;
}
div > i {
  color: rgb(235, 4, 4);
}
ul {
  right: 0;
  height: 100%;
  align-self: center;
  margin: 0;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.2em;
}
html {
  width: 100vw;
}
textarea {
  margin-top: 15px;
  width: 100%;
  resize: none;
}
a {
  display: inline;
  text-decoration: none;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 3px 0;
  margin: 0;
}
a:hover {
  color: white;
}
li:hover {
  border-bottom: 3px black inset;
  margin-bottom: -3px;
  box-sizing: border-box;
}
footer {
  text-align: center;
  color: black;
}
footer > a {
  color: black;
}
footer > a:hover {
  color: red;
}
@media (max-width: 768px) {
  footer {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  h1 {
    font-size: 1.6em;
  }

  .display-4 {
    padding-top: 5vh;
    font-size: 1.5em;
  }
  .container-text {
    font-size: 1em;
  }
  .features-text {
    margin: 10px 0;
    font-size: 3vw;
  }
  #nav-bar {
    background-color: white;
    justify-content: center;
  }
  #products {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 90vw;
  }
  #features {
    font-size: 1rem;
    width: 95vw;
    text-align: center;
  }
  #video {
    margin-top: 15px auto;
    width: 90vw;
  }
  #bg1,
  #bg2,
  #bg3 {
    height: 30%;
    width: 90%;
    margin: 15px 0;
  }

  #header-img {
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  #myForm {
    flex-direction: column;
    height: 60vh;
    width: 90vw;
    justify-content: space-between;
  }
  #myForm > div {
    height: 50%;
  }
  .formDiv > p {
    font-size: 0.75em;
    margin: 0;
  }

  ul {
    position: absolute;
    color: black;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    z-index: 3;
    padding: 0;
    margin-top: 18px;
  }
  li {
    font-size: 0.9rem;
    color: white;
  }
  a {
    color: white;
    text-align: center;
  }
  input {
    width: 100%;
    margin: 10px 0;
  }
  select {
    width: 100%;
  }
}
